{% extends "apnipustak/layout.html" %}

{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'account/base.css' %}">
    <script src="{% static 'account/base.js' %}" defer></script>
{% endblock %}

    {% block body %}
    {% if form.errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger text-center" role="alert">{{ error }}</div>
    {% endfor %}
    {% endif %}
    <div>
      
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://lh3.googleusercontent.com/njBJrGg_UT6o-nUSb5T0JuBx8Z6yJINdabKi6N8xFCbtB0JZT0R-ORgLHoNBsY_IPWA=w2400"
              class="img-fluid" alt="Sample image">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
  
            {% block content %} {% endblock %}
           
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
