{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="form-outline mb-4 pb-4" id="form-for-site">
            {{ form }}
        </div>
        <button type="submit" name="action" class="btn btn-primary text-white">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}" class="text-danger">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}